app-backend:
  enabled: true
  host: "backend-{{ $.Values.global.host }}"
  imagePackage: backend
  containerPort: 1337
  probesPath: /_health
  resources:
    requests:
      cpu: 0.3
      memory: 256Mi
    limits:
      cpu: 1
      memory: 1Gi
  env:
    - name: DATABASE_CLIENT
      value: "postgres"
    - name: DATABASE_NAME
      value: "$(PGDATABASE)"
    - name: DATABASE_HOST
      value: "$(PGHOST)"
    - name: DATABASE_PORT
      value: "$(PGPORT)"
    - name: DATABASE_USERNAME
      value: "$(PGUSER)"
    - name: DATABASE_PASSWORD
      value: "$(PGPASSWORD)"
    - name: DATABASE_SSL
      value: "true"
  envFrom:
    - secretRef:
        name: pg-user
    - secretRef:
        name: backend-sealed-secret
    - secretRef:
        name: azure-tumeplay-volume
    - configMapRef:
        name: backend-configmap
  volumeMounts:
    - name: uploads
      mountPath: /app/public/uploads
  volumes:
    - name: uploads
      persistentVolumeClaim:
        claimName: uploads

app-frontend-metropole:
  enabled: true
  imagePackage: frontend-metropole
  containerPort: 8080

app-frontend-guyane:
  enabled: true
  imagePackage: frontend-guyane
  containerPort: 8080
  host: "guyane-{{ $.Values.global.host }}"

app-dashboard:
  enabled: true
  host: "dashboard-{{ $.Values.global.host }}"
  imagePackage: dashboard
  containerPort: 8080

metabase:
  enabled: false
