name: Review

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - v*

concurrency:
  cancel-in-progress: true
  group: ${{ github.ref }}

jobs:
  ##############################################################################
  ## BUILD AND REGISTER BACKEND IMAGE
  ##############################################################################
  register-backend:
    name: Register backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get project name
        run: |
          echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Create image labels and tags
        id: docker_meta
        uses: "crazy-max/ghaction-docker-meta@2e1a5c7fa42123697f82d479b551a1bbdb1bef88"
        with:
          images: ghcr.io/socialgouv/${{ env.project }}/backend
          labels: |
            org.opencontainers.image.title=backend
            org.opencontainers.image.documentation=https://github.com/SocialGouv/${{ env.project }}/tree/${{ github.sha }}
          tags: |
            type=sha
            type=ref,event=pr
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=raw,value=sha-${{ github.sha }}
            type=semver,pattern={{major}}.{{minor}}

      - name: Set up Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
        with:
          install: true

      - name: Registry authentication
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set buildx cache up
        uses: "actions/cache@v2"
        with:
          key: "${{ runner.os }}-buildx-backend-${{ hashFiles('back-strapi/Dockerfile') }}"
          path: /tmp/.buildx-backend-cache
          restore-keys: |
            ${{ runner.os }}-buildx-backend

      - name: Image build and register
        uses: docker/build-push-action@v2
        with:
          push: "true"
          context: ./back-strapi
          builder: ${{ steps.buildx.outputs.name }}
          tags: "${{ steps.docker_meta.outputs.tags }}"
          labels: "${{ steps.docker_meta.outputs.labels }}"
          cache-to: "type=local,dest=/tmp/.buildx-backend-cache"
          cache-from: "type=local,src=/tmp/.buildx-backend-cache"

  ##############################################################################
  ## BUILD AND REGISTER FRONTEND IMAGE
  ##############################################################################
  register-frontend-guyane:
    name: Register frontend Guyane
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get project name
        run: |
          cat ".github/review.env" >> $GITHUB_ENV
          echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
          echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Create image labels and tags
        id: docker_meta
        uses: "crazy-max/ghaction-docker-meta@2e1a5c7fa42123697f82d479b551a1bbdb1bef88"
        with:
          images: ghcr.io/socialgouv/${{ env.project }}/frontend-guyane
          labels: |
            org.opencontainers.image.title=frontend-guyane
            org.opencontainers.image.documentation=https://github.com/SocialGouv/${{ env.project }}/tree/${{ github.sha }}
          tags: |
            type=sha
            type=ref,event=pr
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=raw,value=sha-${{ github.sha }}
            type=semver,pattern={{major}}.{{minor}}

      - name: Set up Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
        with:
          install: true

      - name: Registry authentication
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set buildx cache up
        uses: "actions/cache@v2"
        with:
          key: "${{ runner.os }}-buildx-frontend-guyane-${{ hashFiles('tumeplay-app/Dockerfile') }}"
          path: /tmp/.buildx-frontend-guyane-cache
          restore-keys: |
            ${{ runner.os }}-buildx-frontend-guyane

      - name: debug backend URL
        run: |
          echo https://backend-${{ env.project }}-${{ env.branch }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}

      - name: Image build and register
        uses: docker/build-push-action@v2
        with:
          push: "true"
          context: ./tumeplay-app
          builder: ${{ steps.buildx.outputs.name }}
          tags: "${{ steps.docker_meta.outputs.tags }}"
          labels: "${{ steps.docker_meta.outputs.labels }}"
          cache-to: "type=local,dest=/tmp/.buildx-frontend-guyane-cache"
          cache-from: "type=local,src=/tmp/.buildx-frontend-guyane-cache"
          build-args: |
            buildenv=dev.guyane
            REACT_APP_API_URL=https://backend-${{ env.project }}-${{ env.branch }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}
            REACT_APP_ZONE=guyane
            REACT_OTHER_ZONE_URL=https://metropole-${{ env.project }}-${{ env.branch }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}

  register-frontend-metropole:
    name: Register frontend Metropole
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get project name
        run: |
          cat ".github/review.env" >> $GITHUB_ENV
          echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
          echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Create image labels and tags
        id: docker_meta
        uses: "crazy-max/ghaction-docker-meta@2e1a5c7fa42123697f82d479b551a1bbdb1bef88"
        with:
          images: ghcr.io/socialgouv/${{ env.project }}/frontend-metropole
          labels: |
            org.opencontainers.image.title=frontend-metropole
            org.opencontainers.image.documentation=https://github.com/SocialGouv/${{ env.project }}/tree/${{ github.sha }}
          tags: |
            type=sha
            type=ref,event=pr
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=raw,value=sha-${{ github.sha }}
            type=semver,pattern={{major}}.{{minor}}

      - name: Set up Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
        with:
          install: true

      - name: Registry authentication
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set buildx cache up
        uses: "actions/cache@v2"
        with:
          key: "${{ runner.os }}-buildx-frontend-metropole-${{ hashFiles('tumeplay-app/Dockerfile') }}"
          path: /tmp/.buildx-frontend-metropole-cache
          restore-keys: |
            ${{ runner.os }}-buildx-frontend-metropole

      - name: debug backend URL
        run: |
          echo https://backend-${{ env.project }}-${{ env.branch }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}

      - name: Image build and register
        uses: docker/build-push-action@v2
        with:
          push: "true"
          context: ./tumeplay-app
          builder: ${{ steps.buildx.outputs.name }}
          tags: "${{ steps.docker_meta.outputs.tags }}"
          labels: "${{ steps.docker_meta.outputs.labels }}"
          cache-to: "type=local,dest=/tmp/.buildx-frontend-metropole-cache"
          cache-from: "type=local,src=/tmp/.buildx-frontend-metropole-cache"
          build-args: |
            buildenv=dev.metropole
            REACT_APP_API_URL=https://backend-${{ env.project }}-${{ env.branch }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}
            REACT_APP_ZONE=metropole
            REACT_OTHER_ZONE_URL=https://guyane-${{ env.project }}-${{ env.branch }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}

  ##############################################################################
  ## GENERATE KUBERNETES MANIFESTS
  ##############################################################################
  manifests:
    name: Generate k8s manifests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Load review environment variables
        run: |
          cat ".github/review.env" >> $GITHUB_ENV

      - name: Yarn cache setup
        uses: c-hive/gha-yarn-cache@v1

      - name: Install kosko-charts dependencies
        run: yarn --cwd .k8s install --frozen-lockfile --prefer-offline

      - name: Generate k8s manifests
        run: yarn --cwd .k8s --silent generate:dev > manifests.yml
        env:
          SOCIALGOUV_BASE_DOMAIN: ${{ env.SOCIALGOUV_BASE_DOMAIN }}

      - name: Generate k8s namespace
        run: yarn --cwd .k8s --silent generate:dev _namespace > namespace.yml
        env:
          SOCIALGOUV_BASE_DOMAIN: ${{ env.SOCIALGOUV_BASE_DOMAIN }}
          RANCHER_PROJECT_ID: ${{ env.RANCHER_PROJECT_ID }}

      - name: ⛑ Debug manifests ⛑
        id: debug-manifests
        run: |
          MARKDOWN=$(cat manifests.yml | npx @socialgouv/parse-manifests --markdown)
          echo "${MARKDOWN}"
          MARKDOWN="${MARKDOWN//'%'/'%25'}​【7,6 m】"
          MARKDOWN="${MARKDOWN//$'\n'/'%0A'}"
          MARKDOWN="${MARKDOWN//$'\r'/'%0D'}"
          echo "::set-output name=markdown::$MARKDOWN"

      # necessary to find the PR on push evenets
      - uses: jwalton/gh-find-current-pr@v1
        id: finder

      - name: ⛑ Comment PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ steps.finder.outputs.pr }}
          message: |

            Deployment ${{ github.sha }}.

            ${{ steps.debug-manifests.outputs.markdown }}

      - name: Archive k8s manifests
        uses: actions/upload-artifact@v2
        with:
          name: manifests.yml
          path: manifests.yml

      - name: Archive k8s namespace
        uses: actions/upload-artifact@v2
        with:
          name: namespace.yml
          path: namespace.yml

  ##############################################################################
  ## DEPLOY BACKEND & FRONT-END
  ##############################################################################
  deploy-backend:
    name: Deploy application
    runs-on: ubuntu-latest
    needs:
      [
        register-backend,
        register-frontend-guyane,
        register-frontend-metropole,
        manifests,
      ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Download k8s manifests
        uses: actions/download-artifact@v2
        with:
          name: manifests.yml

      - name: Download k8s namespace
        uses: actions/download-artifact@v2
        with:
          name: namespace.yml

      - name: Get namespace name
        uses: mikefarah/yq@master
        id: namespace
        with:
          cmd: yq eval '.metadata.name' namespace.yml | tr '[:upper:]' '[:lower:]'

      - name: Install Kapp
        uses: vmware-tanzu/carvel-setup-action@v1
        with:
          only: kapp
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get project and namespace names
        run: |
          cat ".github/review.env" >> $GITHUB_ENV
          echo "project=${GITHUB_REPOSITORY#*/}" | tr '[:upper:]' '[:lower:]' >> $GITHUB_ENV
          echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          echo "namespace=${NAMESPACE}" | tr '[:upper:]' '[:lower:]' >> $GITHUB_ENV
        env:
          NAMESPACE: ${{ steps.namespace.outputs.result }}

      - name: Notify deployment start
        uses: bobheadxi/deployments@v0.4.3
        id: deployment
        with:
          step: start
          env: ${{ env.namespace }}
          token: ${{ secrets.GITHUB_TOKEN }}
          desc: "Deploying environment: ${{ env.namespace }}"

      - name: Create kubernetes config
        run: |
          mkdir ~/.kube
          touch ~/.kube/config
          echo ${{ secrets.SOCIALGOUV_KUBE_CONFIG_DEV2 }} | base64 -d > ~/.kube/config

      - name: Create k8s namespace and annotations
        run: kubectl create -f namespace.yml || true

      - name: Deploy application
        run: kapp --dangerous-override-ownership-of-existing-resources -y deploy -a ${{ env.project }} --namespace ${{ env.namespace }} -f manifests.yml

      - name: Notify deployment end
        uses: bobheadxi/deployments@v0.4.3
        if: always()
        with:
          step: finish
          status: ${{ job.status }}
          token: ${{ secrets.GITHUB_TOKEN }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          env_url: https://backend-${{ env.project }}-${{ env.branch }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}
